/*Selector universal*/
*{
    background: bisque;
}
/*Selector por etiqueta*/
h1{
    background: red;
}
p{
    background: orange;
}
/*Selector descendente*/
div p{
    background: orchid;
}
/*Selector por clases*/
.titulo1{
    background: powderblue;
}
/*Selector id => Diferencia con el class es que es unico no se repite*/
#titulo2{
    background: green;
}
